/* Person.*/
.root {
  composes: center from "../../styles/shared.module.css";
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.container {
  composes: narrow-container from "../../styles/shared.module.css";
}

.grid {
  border: 1px solid red;
}

.figure {
  margin: 0;
}

.photo {
  width: 100px;
}

.quote {
  margin: 0 0 0 1rem;
}
